html{

    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'open sans'; /* Nombre de la fuente */
    src: url('./font/OpenSans-Regular.ttf') format('truetype');
}

body{
    position: relative;
    font-family: 'Roboto', ;
    font-family: 'open sans', sans-serif;
}



/*---------------c----------------*/

header{
    position: absolute;
    z-index: 1;
}

.cont{
    position: absolute;
}
.cont img{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 300px;
    height: 60px;
}

.cont2{
    position: absolute;
    top: 20px;
    left: 920px;
    width: 800px;
    font-size: 45px;
}

.cont2 a:hover{
    color: rgb(114, 111, 111);
}

.cont3 p{
    position: absolute;
    top: 20px;
    left: 1350px;
    width: 200px;
    font-size: 45px;
    
}

.cont3 .p1 img{
    position: absolute;
    left: 20px;
    top: 50px;
    width: 200px;
    height: 90px;
}


.cont3 p,a{
    text-decoration:black;
    color: black;
}

.cont4 img{
    position: absolute;
    top: 54px;
    left: 1570px;
    width: 45px;
    height: 80px;
}

.cont5 img{
    position: absolute;
    top: 50px;
    left: 1760px;
    width: 50px;
    height: 80px;
}

/*--------------N-word-------------------*/

#hero{
    position: absolute;
    z-index: 2;
}

#hero .he1{
    position: absolute;
    left: 1900px;
    width: 700;
    height: 1300px;
    border-radius: 0px 8px 8px 0px;
}

.he1 a:hover{
    color: gray;
}

#hero .he2{
    position: absolute;
    top: 70px;
    left: 1965px;
    width: 37px;
    height: 22px;
}

#hero .he3{
    position: absolute;
    top: 220px;
    left: 1949px;
    font-size: 30px;
    color: white;
}

#hero .he4{
    position: absolute;
    top: 404px;
    left: 1944px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

#hero .he5{
    position: absolute;
    top: 520px;
    left: 1944px;
    font-size: 30px;
    color: white;
}

#hero .he6{
    position: absolute;
    top: 650px;
    left: 1944px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

#hero .he7 img{
    position: absolute;
    top: 1076px;
    left: 1975px;
    width: 36px;
    height: 22px;
}

/*-----------------la mala pa movistar-------------*/

#tarjeta{
    position: relative;
}

#tarjeta img{
    width: 1000px;
    height: 500px;
}

.tj {
    position: absolute;
    top: 140px;
    left: 390px;

}

.e1{
    position: absolute;
    top: 550px;
    left: 401px;
    font-size: 60px;
}

.e2{
    position: absolute;
    top: 720px;
    left: 673px;
    font-size: 40px;
}

.e3{
    position: absolute;
    top: 824px;
    left: 749px;
    font-size: 40px;
}

.e4 input{
    position: absolute;
    top: 970px;
    left: 695px;
    width: 370px;
    height: 80px;

    border: 1px solid #707070;
    border-radius: 10px;
}

.e4 input::placeholder{
    position: absolute;
    top: 20px;
    left: 130px;
    font-size: 40px;
}
/*--------------foot_pelota----------------*/

footer{
    position: relative;
}


.f1 {
    position: absolute;
    top: 900px;
    left: 1510px;
    width: 320px;
    height: 230px;
    background-color: #D5FF43;
    border-radius: 8px;
}


.f2 img{
    position: absolute;
    top: 960px;
    left: 1580px;
    width: 180px;
    height: 60px;
}

.f3{
    position: absolute;
    top: 1030px;
    left: 1590px;
    font-size: 39px;
}
