html{

    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'open sans'; /* Nombre de la fuente */
    src: url('./font/OpenSans-Regular.ttf') format('truetype');
}

body{
    font-family: 'Roboto', ;
    font-family: 'open sans', sans-serif;
}


/*------------header----------*/

header{
    position: relative;
    z-index: 1;
}

.cont img{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 300px;
    height: 60px;
}

.cont2{
    position: absolute;
    top: 20px;
    left: 920px;
    width: 800px;
    font-size: 45px;
}

.cont2 a:hover{
    color: rgb(114, 111, 111);
}

.cont2 p,a{
    text-decoration:black;
    color: black;
}

.cont2 .p1 img{
    position: absolute;
    left: 60px;
    top: 110px;
    width: 200px;
    height: 70px;
}

.cont3{
    position: absolute;
    top: 20px;
    left: 1350px;
    font-size: 45px;
    width: 200px;
}


.cont4 img{
    position: absolute;
    top: 54px;
    left: 1570px;
    width: 45px;
    height: 80px;
}

.cont5 img{
    position: absolute;
    top: 50px;
    left: 1760px;
    width: 50px;
    height: 80px;
}


/*-------------parte negra------------*/

#hero{
    position: absolute;
    z-index: 2;
}

body{
    position: absolute;
}

#hero .he1{
    position: absolute;
    left: 1950px;
    width: 200px;
    height: 1220px;
    background-color: black;
    border-radius: 0px 8px 8px 0px;
}


#hero .he2{
    position: absolute;
    top: 70px;
    left: 2020px;
    width: 30px;
    height: 22px;
}

.he2 a:hover{
    color: gray;
}

#hero .he3{
    position: absolute;
    top: 220px;
    left: 1975px;
    font-size: 28px;
    color: white;
}

#hero .he4{
    position: absolute;
    top: 404px;
    left: 2015px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

#hero .he5{
    position: absolute;
    top: 520px;
    left: 2015px;
    font-size: 30px;
    color: white;
}

#hero .he6{
    position: absolute;
    top: 650px;
    left: 2015px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

#hero .he7 img{
    position: absolute;
    top: 1076px;
    left: 2020px;
    width: 36px;
    height: 22px;
}

/*----------cuerpo---------*/

#tarjeta{
    position: absolute;
}

.tj{
    position: absolute;
    top: 230px;
    left: 90px;
    width: 1300px;
    height: 700px;
}

/*------------patas---------------*/

footer{
    position: relative;
}

footer .f1{
    position: absolute;
    top: 891px;
    left: 58px;
    width: 2000px;
    height: 55px;
    font-size: 70px;
}

footer .f2{
    position: absolute;
    top: 1050px;
    left: 57px;
    width: 300px;
    height: 37px;
    font-size: 47px;
}

footer .f3{
    position: absolute;
    top: 930px;
    left: 1590px;
    width: 300px;
    height: 230px;
    background-color: #D5FF43;
    border-radius: 8px;
}

footer .f4 img{
    position: absolute;
    top: 990px;
    left: 1650px;
    width: 170px;
    height: 70px;    
}

footer .f5 {
    position: absolute;
    top: 1060px;
    left: 1660px;
    font-size: 39px;
}