html{

    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'open sans'; /* Nombre de la fuente */
    src: url('./font/OpenSans-Regular.ttf') format('truetype');
}

body{
    
    font-family: 'Roboto', ;
    font-family: 'open sans', sans-serif;;
}


/*------------header----------*/

header{
    position: absolute;
    z-index: 1;
}

.cont img{
    position: absolute;
    top: 8vh;
    left: 8vh;
    width: 300px;
    height: 60px;
}

.cont2{
    position: absolute;
    top: 2.2vh;
    left: 85vh;
    width: 800px;
    font-size: 45px;
}

.cont2 a:hover{
    color: rgb(114, 111, 111);
}

.cont2 p,a{
    text-decoration:black;
    color: black;
}

.cont2 .p1 img{
    position: absolute;
    left: 9vh;
    top: 10vh;
    width: 200px;
    height: 70px;
}

.cont3{
    position: absolute;
    top: 2vh;
    left: 70vw;
    font-size: 45px;
    width: 200px;
}


.cont4 img{
    position: absolute;
    top: 5vh;
    left: 82vw;
    width: 45px;
    height: 80px;
}

.cont5 img{
    position: absolute;
    top: 5vh;
    left: 95vw;
    width: 50px;
    height: 80px;
}


/*-------------parte negra------------*/

#hero{
    
    position: absolute;
    z-index: 1;
}

body{
    position: absolute;
}

#hero .he1{
    position: absolute;
    left: 102vw;
    width: 200px;
    height: 1290px;
    background-color: black;
    border-radius: 0px 8px 8px 0px;
}


#hero .he2{
    position: absolute;
    top: 7vh;
    left: 106vw;
    width: 30px;
    height: 22px;
}

.he2 a:hover{
    color: gray;
}

#hero .he3{
    position: absolute;
    top: 18vh;
    left: 104vw;
    font-size: 28px;
    color: white;
}

#hero .he4{
    position: absolute;
    top: 35vh;
    left: 106vw;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

#hero .he5{
    position: absolute;
    top: 47vh;
    left: 106vw;
    font-size: 30px;
    color: white;
}

#hero .he6{
    position: absolute;
    top: 59vh;
    left: 106vw;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

#hero .he7 img{
    position: absolute;
    top: 100vh;
    left: 106vw;
    width: 36px;
    height: 22px;
}

/*----------cuerpo---------*/

#tarjeta{
    position: absolute;
}

.tj{
    position: absolute;
    top: 20vh;
    left: 8vw;
    width: 1300px;
    height: 700px;
}

/*------------patas---------------*/

footer{
    position: relative;
}

footer .f1{
    position: absolute;
    top: 80vh;
    left: 4vw;
    width: 2000px;
    height: 55px;
    font-size: 70px;
}

footer .f2{
    position: absolute;
    top: 96vh;
    left: 5vw;
    width: 300px;
    height: 37px;
    font-size: 47px;
}

footer .f3{
    position: absolute;
    top: 87vh;
    left: 83vw;
    width: 300px;
    height: 230px;
    background-color: #D5FF43;
    border-radius: 8px;
}

footer .f4 img{
    position: absolute;
    top: 92vh;
    left: 86vw;
    width: 170px;
    height: 70px;    
}

footer .f5 {
    position: absolute;
    top: 99vh;
    left: 86vw;
    font-size: 39px;
}