*{
    padding: 0;
    margin: 0;
}

html{
    background-color: antiquewhite;
}


header{
    width: 100%;
    height: auto;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(170, 70, 223);
}

table{
    width: 80%;
    border: 2px solid black;
    border-spacing: 0.5;
    margin-top: 20px;
    margin-left: 150px;
}

li{
    text-align: left;
    margin-left: 10px;
}

th, td{
    text-align: center;
    width: 50%;
    border: 2px solid black;
    border-spacing: 0.5;
    font-size: 1.25em;
}


header .gg{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-top: 25px;
}

header a .gg:hover{
    color: rgb(170, 70, 223);
}

header .ff{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a .ff:hover{
    color: rgb(170, 70, 223);}

button{
    margin-top: 25px;
}

.btn {
    border: none; 
    color: black; 
    padding: 15px 38px; 
    cursor: pointer; 
    border-radius: 6px;
    margin-left: 95px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.f {background-color: #c16124de; border: 2px solid #ab6209;} 
.f:hover {background: #f18c18d7; color: white;}

.g {background-color: #c16124de; border: 2px solid #ab6209;} 
.g:hover {background: #f18c18d7; color: white;}