body{
    background-image: url("./img/9-95302_terraria.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.a1{
    position: absolute;
    top: 30vi;
    right: 3vi;
    width: 106vi;
    height: 20vi;
}

.a1 img{
    width: 110vi;
    height: 40vi;
}

.a2{
    position: absolute;
    bottom: 10vi;
    left: 60vi;
    width: 40vi;
    height: 50vi;
}

.a2 img{
    width: 50vi;
    height: 50vi;
}

.a3{
    position: absolute;
    top: 29vi;
}

.a3 img{
    width: 24vi;
}

.a4{
    position: absolute;
    top: 30vi;
    left: 43vi;
}

.a4 img{
    width: 24vi;
}

.a5{
    position: absolute;
    left: 12vi;
    animation: sun 5s forwards;
    animation-delay: 7s;
    opacity: 0.3;
    
}

.a5 img{
    width: 17vi;

}

@keyframes sun {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.a6{
    position: absolute;
    top: 11vi;
    animation-name: ñube;
    opacity: 0;
    animation: ñube 5s, nube 3s forwards;
}

.a6 img{
    position: absolute;
    width: 7vi;
}

@keyframes nube {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }

    from{
        left: 0vi;
    }

    to{
        left: 34vi;
    }
}



/*------------gotas de lluvia marca el rocio lagrimas que vienen del corazon-------------*/

.a7{
    position: absolute;
    top: 13vi;
    left: 36vi;
    opacity: 0;
    animation-name: gota1;
    animation-duration: 2s;
    animation-delay: 5s;
}

.a7 img{
    width: 2vi;
    height: 2vi;
}

@keyframes gota1 {
    from{
        top: 13vi;
        left: 36vi;
        opacity: 1;
    }

    to{
        left: 36vi;
        top: 44vi;
        opacity: 0;
    }
}

.a8{
    position: absolute;
    top: 13vi;
    left: 37vi;
    opacity: 0;
    animation-name: gota2;
    animation-duration: 2s;
    animation-delay: 6s;
}

.a8 img{
    width: 2vi;
    height: 2vi;
}

@keyframes gota2 {
    from{
        top: 13vi;
        left: 37vi;
        opacity: 1;
    }

    to{
        left: 37vi;
        top: 44vi;
        opacity: 0;
    }
}

.a9{
    position: absolute;
    top: 13vi;
    left: 36vi;
    opacity: 0;
    animation-name: gota3;
    animation-duration: 2s;
    animation-delay: 7s;
}

.a9 img{
    width: 2vi;
    height: 2vi;
}

@keyframes gota3 {
    from{
        top: 13vi;
        left: 36vi;
        opacity: 1;
    }

    to{
        left: 36vi;
        top: 44vi;
        opacity: 0;
    }
}

.a10{
    position: absolute;
    top: 13vi;
    left: 36vi;
    opacity: 0;
    animation-name: gota3;
    animation-duration: 2s;
    animation-delay: 7s;
}

.a10 img{
    width: 2vi;
    height: 2vi;
}

@keyframes gota3 {
    from{
        top: 13vi;
        left: 37vi;
        opacity: 1;
    }

    to{
        left: 37vi;
        top: 44vi;
        opacity: 0;
    }
}

.a11{
    position: absolute;
    top: 13vi;
    left: 36vi;
    opacity: 0;
    animation-name: gota3;
    animation-duration: 2s;
    animation-delay: 8s;
}

.a11 img{
    width: 2vi;
    height: 2vi;
}

@keyframes gota3 {
    from{
        top: 13vi;
        left: 35vi;
        opacity: 1;
    }

    to{
        left: 35vi;
        top: 44vi;
        opacity: 0;
    }
}

.a12{
    position: absolute;
    top: 13vi;
    left: 36vi;
    opacity: 0;
    animation-name: gota3;
    animation-duration: 2s;
    animation-delay: 8s;
}

.a12 img{
    width: 2vi;
    height: 2vi;
}

@keyframes gota3 {
    from{
        top: 13vi;
        left: 36vi;
        opacity: 1;
    }

    to{
        left: 36vi;
        top: 44vi;
        opacity: 0;
    }
}


/*-------------Helianthus annuus--------------*/

.b1{
    position: absolute;
    top: 28vi;
    left: 30vi;
    animation: flor1 7s forwards;
    opacity: 0;
    animation-delay: 10s;
}

.b1 img{
    position: absolute;
    
    animation: flor1 7s forwards;
    opacity: 0;
    animation-delay: 10s;
}

@keyframes flor1 {
    from{
        top: 18vi;
        height: 11vi;
        width: 0vi;
        opacity: 0;
    }

    to{
        top: 18vi;
        height: 10vi;
        width: 10vi;
        opacity: 1;
    }
}

.b2{
    position: absolute;
    top: 28vi;
    left: 36vi;
    animation: flor1 7s forwards;
    opacity: 0;
    animation-delay: 10s;
}

.b2 img{
    position: absolute;
    
    animation: flor1 7s forwards;
    opacity: 0;
    animation-delay: 10s;
}

@keyframes flor1 {
    from{
        top: 18vi;
        height: 11vi;
        width: 0vi;
        opacity: 0;
    }

    to{
        top: 18vi;
        height: 10vi;
        width: 10vi;
        opacity: 1;
    }
}

.b3{
    position: absolute;
    top: 15vi;
    left: 25vi;
    animation: flor1 7s forwards;
    opacity: 0;
    animation-delay: 10s;
}

.b3 img{
    position: absolute;
    
    animation: flor1 7s forwards;
    opacity: 0;
    animation-delay: 10s;
}

@keyframes flor1 {
    from{
        top: 15vi;
        height: 11vi;
        width: 0vi;
        opacity: 0;
    }

    to{
        top: 18vi;
        height: 10vi;
        width: 10vi;
        opacity: 1;
    }
}