*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.5em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(140, 57, 219);
}

.container{
    max-width: 1200px;
    margin: auto;
}

.color-acento{color: rgb(128, 39, 212);}

header{background-color: rgb(245, 245, 245);}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: 
    linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.4),
        rgba(0,0,0,0.4)
    ),
    url("./imgs/forest.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#soiyo .container{
    text-align: center;
    padding: 200px 12px;
}

#mis-metas{
    background-color: rgb(33, 32, 32);
    color: white;
    text-align: center;
}

#mis-metas .container{
    padding: 150px 12px;
}

#mis-metas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#mis-metas p{
    display: none;
}

#mis-metas .carta{
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.cc{
    
    background-image:
    linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.4),
        rgba(0,0,0,0.4)
    ),
    
    url("./imgs/corrupt.gif");
    background-position: center; 
    background-size: cover;
}

.carta:nth-child(2){
    
    background-image:
    linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.4),
        rgba(0,0,0,0.4)
    ),
    url("./imgs/crimson.gif");
    background-position: center; 
    background-size: cover;
}


.carta:nth-child(3){
    background-image:
    linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.4),
        rgba(0,0,0,0.4)
    ),
    url("./imgs/hallow.gif");
    background-position: center; 
    background-size: cover;
}

#misaspiraciones .container{
    text-align: center;
    padding: 200px 12px;
}

#misasoiraciones li{
    margin: 16px 0px;
    font-weight: bold;
}

@media only screen and (min-width: 476px) {
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
    }
}

#hero h1{
    font-size: 5em;
}

#soiyo .container{
    display: flex;
    justify-content: space-evenly;
}

#soiyo .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
}

#soiyo .img-container{
    background-image:
    url("./imgs/manofsex.jpg");
    background-position: center center; 
    background-size: cover;
    height: 500px;
    width: 600px;

}

#mis-metas .metas{
    display: flex;
    justify-content: center;
}

#mis-metas p{
    display: block;
    margin-bottom: 30px;
}

#mis-metas h3{
    margin-top: 0;
}

#mis-metas .carta{
    padding: 50px;
}

#misaspiraciones{
    background-image: url("./imgs/doctorsex.png");
    background-repeat: no-repeat;
    background-size: 600px 500px;
    background-position: calc(100vw - 700px) 120px;
}

#misaspiraciones .container{
    text-align: initial;
}

#misaspiraciones ul{
    margin-left: 20px;
}
